<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Mandje')"></head>
<script th:src="@{/js/beschikbaar.js}" defer></script>
<body>
<script th:src="@{/js/preventDoubleSubmit.js}" defer></script>
<a th:replace="fragments::topMenu"></a>
<h1>Mandje</h1>
<div th:if="${films.empty}">Je mandje is leeg.</div>

<table>
<form th:if="not ${films.empty}"
      method="post" th:action="@{/Mandje/verwijderen}">
    <div th:each="film, custStat:${films}" th:object="${film}">
        <thead th:if="${custStat.first}">
        <tr>
            <th>Film</th>
            <th>Prijs</th>
            <th>
                <button>Verwijderen</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="*{title}"></td>
            <td th:text="|€*{prijs}|"></td>
            <td><input type="checkbox" name="id" th:value="*{id}"></td>
        </tr>
        </tbody>
        <tfoot th:if="${totaalPrijs}>0 and ${custStat.last}">
        <tr>
            <th scope="row">Totaal:</th>
            <th id="totaal" th:text="|€${totaalPrijs}|"></th>
            <th></th>
        </tr>
        </tfoot>
    </div>
</form>
</table>
</body>
</html>